# Machine learning Project

In [3]:
'''
1. Import The Data
2. Clean the Data
3. Split the data into Training/Test Sets
4. Create a Model
5. Train the Model
6. Make Predictions
7. Evaluate and Improve'''

'\n1. Import The Data\n2. Clean the Data\n3. Split the data into Training/Test Sets\n4. Create a Model\n5. Train the Model\n6. Make Predictions\n7. Evaluate and Improve'

# Import the data

In [4]:
#build a model using ML algorithm
#decison tree
#Sci kit learn library

from sklearn.tree import DecisionTreeClassifier
#decision Tree Classifier implements decision tree algorithms

In [5]:
import pandas as pd

In [6]:
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

# Preparing the Data

In [7]:
# cleaning and preparing the data
# splitting the data into input and output set
#age and gender as input set
# genre as output set

#this is the input set
X = music_data.drop(columns = ['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [8]:
#creating output set
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# Learning and Predicting

In [9]:
#create an instance of this class
model = DecisionTreeClassifier()
model.fit(X,y)
#make predictions
predictions = model.predict([[21, 1],[22, 0]]) #age 21 , male and age 22 , female
predictions

/Users/amansingh/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

# Calculating the Accuracy

In [25]:
#training and testing data set
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
music_data = pd.read_csv("music.csv")
X = music_data.drop(columns = ['genre'])
y = music_data['genre']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2) #0.2 means 20% for the test data
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
score = accuracy_score(y_test, predictions)
score #score 1.o means 10%

0.2