# Machine learning Project

In [1]:
'''
1. Import The Data
2. Clean the Data
3. Split the data into Training/Test Sets
4. Create a Model
5. Train the Model
6. Make Predictions
7. Evaluate and Improve'''

'\n1. Import The Data\n2. Clean the Data\n3. Split the data into Training/Test Sets\n4. Create a Model\n5. Train the Model\n6. Make Predictions\n7. Evaluate and Improve'

# Import the data

In [2]:
import pandas as pd

In [3]:
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical